* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 10px;
}

.container div {
  padding: 50px;
  height: 180px;
  width: 100px;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(50, 102, 199);
  transition: background-color 1s ease;
}

.container div.clicked {
  background-color: transparent;
}
